{% extends 'home/base.html' %}

{% block title %} Achievements{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/download.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}
<header class="bg-secondary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Our Achievements</h1>
  </div>
</header>
  
<div style="margin: 0 4%;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Serial No.</th>
        <th scope="col">Title</th>
        <th scope="col">Link</th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in annou %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{item.name}}</td>
        <td>
           <a type="button" class="btn btn-outline-info" style="text-decoration: none;" href="{{item.link}}">Click Here</a>
        </td>
      </tr>

    </tbody>
    {% endfor %}
  </table>
  
</div>  
{% endblock body %}

{% block script %}
   
{% endblock script %}