{% extends 'home/base.html' %}

{% block title %} Developer Team{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/developer.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  
</style>
{% endblock css %}

{% block body %}
<div class="container">
    <div class="main-heading">
        <h2>Developer Team</h2>
        <p><em>"None of us is as smart as all of us"</em></p>
    </div>
    <div class="developers">
        <div class="developer-element">
            <div class="developer-img">
                <img src="{% static 'images/img/navneet.jpg' %}" alt="">
            </div>
            <div class="developer-name">Navneet Kumar Singh</div>
            <div class="developer-profession">Website Developer</div>
            <!-- <div class="developer-intro">I spend my whole day, practically every day, experimenting with HTML, CSS and JavaScript, dabbling with Python and inhaling a wide variety of potentially useless information through few hundred RSS feeds. I build website that delight and inform. I do it well.</div> -->
            <div class="developer-social-icons">
                <a href="https://www.facebook.com/IG.Navneet/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://www.linkedin.com/in/itx-navneet/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/itx.navneet/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://www.github.com/itxnavneet/" target="_blank" class="fa fa-github"></a>
            </div>
        </div>
        <div class="developer-element">
            <div class="developer-img">
                <img src="{% static 'images/img/avinash.jpg' %}" alt="">
            </div>
            <div class="developer-name">Avinash </div>
            <div class="developer-profession">Website Developer</div>
            <!-- <div class="developer-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eos cum
                reprehenderit dolore doloribus. Dignissimos dolorum magnam magni repellat iste ipsa exercitationem
                eveniet eos fugit?</div> -->
                <div class="developer-social-icons">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100006300404981" class="fa fa-facebook"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/avinash-singh-817415138/" class="fa fa-linkedin"></a>
                    <a target="_blank" href="https://instagram.com/avinash_cs?igshid=14o7ph7p1qopx" class="fa fa-instagram"></a>
                    <a href="https://github.com/avinash-cs" target="_blank" class="fa fa-github"></a>
                </div>
        </div>
        <div class="developer-element">
            <div class="developer-img">
                <img src="{% static 'images/img/shivam.jpg' %}" alt="">
            </div>
            <div class="developer-name">Shivam Ojha</div>
            <div class="developer-profession">Website Developer</div>
            <!-- <div class="developer-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eos cum
                reprehenderit dolore doloribus. Dignissimos dolorum magnam magni repellat iste ipsa exercitationem
                eveniet eos fugit?</div> -->
                <div class="developer-social-icons">
                    <a target="_blank" href="https://www.facebook.com/shivam.ojha.123829" class="fa fa-facebook"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/shivam-ojha-b8466b16a/" class="fa fa-linkedin"></a>
                    <a target="_blank" href="https://www.instagram.com/shiva_yye/" class="fa fa-instagram"></a>
                    <a href="https://github.com/shiva-009" target="_blank" class="fa fa-github"></a>
                </div>
        </div>
        <div class="developer-element">
            <div class="developer-img">
                <img src="{% static 'images/img/elesh-new.jpg' %}" alt="">
            </div>
            <div class="developer-name">Elesh Garg </div>
            <div class="developer-profession">Student Coordinator</div>
            <!-- <div class="developer-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eos cum
                reprehenderit dolore doloribus. Dignissimos dolorum magnam magni repellat iste ipsa exercitationem
                eveniet eos fugit?</div> -->
                <div class="developer-social-icons">
                    <a target="_blank" href="https://www.facebook.com/gargelesh/" class="fa fa-facebook"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/elesh-garg-4a0607195/" class="fa fa-linkedin"></a>
                    <a target="_blank" href="https://www.instagram.com/elesh_garg/" class="fa fa-instagram"></a>
                    <a href="https://github.com/eleshgarg" target="_blank" class="fa fa-github"></a>
                </div>
        </div>
    </div>

</div>


{% endblock body %}

{% block script %}

{% endblock script %}