{% extends 'home/base.html' %}

{% block title %} Download{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/download.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}
<hr>
<h1 style="padding:4% 2%;text-align: center;">Welcome to Downloads</h1>
<!-- <hr> -->
<div style="margin: 0 4%;">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Serial No.</th>
      <th scope="col">Document Name</th>
      <th scope="col">Download Link</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>NIC 2020- List of prototypes nominated by IICs for next level of mentoring from MIC</td>
      <td> <button type="button" class="btn btn-outline-warning" >
         <a style="text-decoration: none;"href="https://api.mic.gov.in/uploads/admin/images/download/National%20Innovation%20Contest%202020-%20List%20of%20Nominated%20Prototype%20Teams%20by%20IICs.pdf"> Download</a>
        </button></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>IIC Activity Calendar 2020-21</td>
      <td> <button type="button" class="btn btn-outline-warning" >
          <a style="text-decoration: none;" href="https://api.mic.gov.in/uploads/admin/images/download/76758_download.pdf"> Download</a>
         </button></td>
        
      </tr>
    <tr>
      <th scope="row">3</th>
      <td>National Innovation and Startup policy 2019 for students and faculties</td>
      <td> <button type="button" class="btn btn-outline-warning" >
          <a style="text-decoration: none;" href="https://api.mic.gov.in/uploads/admin/images/download/76758_download.pdf"> Download</a>
         </button></td>
        
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>IIC Logo</td>
      <td> <button type="button" class="btn btn-outline-warning" >
          <a style="text-decoration: none;" href="https://api.mic.gov.in/uploads/admin/images/download/53214_download.png"> Download</a>
         </button></td>
        
    </tr>
  </tbody>
</table>
</div>  
  
{% endblock body %}

{% block script %}
   
{% endblock script %}