{% extends 'home/base.html' %}

{% block title %} {{event.title}} Description {% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/eventDesc.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}

<div class="wrapper__outer-body">
  <div class="wrapper__inner-body">



    <div class="wrapper__event-info">
      <h1 class="event-title">
        {{event.title}}
      </h1>

      <section class="event-summary">
        {{event.content}}
      </section>

      <section class="event-details">
        <section class="event-image">
          <div><img src="/media/{{event.image}}" /> </div>
        </section>
        <h2 class="event-date">
          {{event.dateEvent}}</h2>
        <h3 class="event-time">
          {{event.startTime}}-{{event.endTime}} ({{event.venue}})</h2>

          <section class="event-address">
            <p class="event-address-name">JC BOSE UNIVERSITY OF SCIENCE AND TECHNOLOGY</p>

            Sector-6 , YMCA chowk ,
            Mathura road , Haryana
          </section>

      </section>

    </div>

    <div class="wrapper__panelists">
      <h3 class="event-faq__title">
        <a name="panelists">
          Organisers: </a>
      </h3>

      <div class="d-flex">

        {% for org in organize %}
        
        <ul id="panelist-info__border" style="width: 200px;">
          <div class="unique"><img src="/media/{{org.image}}" /></div>
          <span class="panelist-name">{{org.name}}r</span><br>
          <p class="job-title">{{org.contact_no}} <br>{{org.department}} </p>
        </ul>
        {% endfor %}
      </div>


    </div> <!-- End wrapper__panelists -->

    {% if upcoming %}
  
    <div class="wrapper__event-footer">
      <!-- <img src="http://pages.questexweb.com/rs/questex/images/RegisterToday.png" /> -->
      <a href="{{event.googleFormLink}}" role="button" target="_blank" class="rtn rtn-round rtn-lg rtn-ghost-orange btn">Register</a>
    </div>
    {% endif %}
  </div>

</div>

{% endblock body %}

{% block script %}

{% endblock script %}