{% extends 'home/base.html' %}

{% block title %} External Experts{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Experts.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}

<header class="bg-secondary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet Our External Experts</h1>
  </div>
</header>

<div class="my-4">
  <div class="expertContainer">




  </div>
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/Experts.js' %}"></script>
{% endblock script %}