{% extends 'home/base.html' %}

{% block title %}Faculty Core Team{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Experts.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}

     <!-- <div class="my-4">
        <h2 class="text-center my-4">IIC Faculty Core Team</h2>
        <div class="membersContainer">
            
        </div>
    </div> -->

    <header class="bg-secondary text-center py-5 mb-4">
        <div class="container">
          <h1 class="font-weight-light text-white">Meet Our Faculty Coordinators</h1>
        </div>
    </header>
      
      <!-- Page Content -->
      <div class="container">
        <div class="row" style="text-align: center; justify-content: center;">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="/static/images/External Experts/Prof. Lakhwinder Singh.jpeg" style="height: 260px;" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Prof. Lakhwinder</h5>
                    <div class="card-text text-black-50">President</div>
                  </div>
                </div>
              </div>
                
        </div>
        <div class="row" style="justify-content: center;">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Sapna Gambhir.jpeg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr. Sapna Gambhir</h5>
                <div class="card-text text-black-50">Vice President</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Parul Tomar.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr.Parul Tomar</h5>
                <div class="card-text text-black-50">Convenor</div>
              </div>
            </div>
          </div>
        <!-- /.row -->
      
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Mr. Ajay Sharma.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Mr. Ajay</h5>
                <div class="card-text text-black-50">Incubation Cell Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Ms. Rashmi Chawla.jpeg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Ms. Rashmi Chawla</h5>
                <div class="card-text text-black-50">Innovation Cell Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Rashmi Popli.jpeg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr. Rashmi Popli</h5>
                <div class="card-text text-black-50">Start-Up Cell Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Ashlesha Gupta.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr. Ashlesha Gupta</h5>
                <div class="card-text text-black-50">IPR Cell Coordinator</div>
              </div>
            </div>
          </div>
          
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Mr. Jitender.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Mr. Jitender (PRO)</h5>
                <div class="card-text text-black-50">Social Media Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Vishal Puri.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr. Vishal Puri</h5>
                <div class="card-text text-black-50">Intership Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Ms. Jyotsana Chawla.jpg" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Ms. Jyotsana Chawla</h5>
                <div class="card-text text-black-50">NIRF Coordinator</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="/static/images/External Experts/Dr. Krishan Verma.png" style="height: 260px;" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr. Krishan Verma</h5>
                <div class="card-text text-black-50">ARIIA Coordinator</div>
              </div>
            </div>
          </div>
          
      </div>
    
    </div>
      <!-- /.container -->
{% endblock body %}

{% block script %}
    <!-- <script src="{% static 'js/iicfaculty.js' %}"></script> -->
{% endblock script %}