{% extends 'home/base.html' %}

{% block title %} Student Core Team{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Experts.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}
<header class="bg-secondary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet Our Student Core Team</h1>
    </div>
  </header>
  <div style="padding: 6%;">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Samarth.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Samarth Gupta</h5>
            <div class="card-text text-black-50">B.tech CE 3rd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Vibhor.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Vibhor Agarwal</h5>
            <div class="card-text text-black-50">B.tech ECE 3rd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Chirag.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Chirag Goyal</h5>
            <div class="card-text text-black-50">B.Tech EL 3rd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Yogesh.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Yogesh Yadav</h5>
            <div class="card-text text-black-50">B.Tech CE 3rd Year</div>
          </div>
        </div>
      </div>
      
   </div>

   <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Jyoti.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jyoti Rani</h5>
            <div class="card-text text-black-50">B.tech CE 3rd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Praveen.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Praveen Kumar</h5>
            <div class="card-text text-black-50">B.tech CE 3rd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/avinash.jpg" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Avinash</h5>
            <div class="card-text text-black-50">B.Tech CE 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Elesh Garg.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Elesh Garg</h5>
            <div class="card-text text-black-50">B.Tech CE 2nd Year</div>
          </div>
        </div>
      </div>
      
   </div>

   <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Ritik.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ritik Goyal</h5>
            <div class="card-text text-black-50">B.tech CE 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Ritik Panchal.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ritik Panchal</h5>
            <div class="card-text text-black-50">B.tech IT 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Paras.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Paras Arora</h5>
            <div class="card-text text-black-50">B.Tech ME 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Jai.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jai Mudgil</h5>
            <div class="card-text text-black-50">B.Tech ME 2nd Year</div>
          </div>
        </div>
      </div>
      
   </div>

   <div class="row" style="justify-content: center;">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Harsh.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Harsh</h5>
            <div class="card-text text-black-50">B.tech ME 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Guranshish.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Guranshish Bhutra</h5>
            <div class="card-text text-black-50">BBA 2nd Year</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="/static/images/student_photos/Khushi.png" style="height: 300px;" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Khushi Gupta</h5>
            <div class="card-text text-black-50">B.Tech CE 1st Year</div>
          </div>
        </div>
      </div>
   </div>






</div>




<!-- 
   <div class="my-4">
        <div class="teamContainer">
            
        </div>
    </div>
   -->
{% endblock body %}

{% block script %}
    <!-- <script src="{% static 'js/iicStudent.js' %}"></script> -->
{% endblock script %}